<h1>Products</h1>

<h2>Cart Items:</h2>
<ul>
<% @cart.each do |item| %>
  <li><%= item %></li>
<% end %>
</ul>

<h2>Add Items to Cart:</h2>
<%= form_tag root_path, method: :post do %>

  <%= label_tag :product %>
  <%= text_area_tag :product %>

  <br><br>

  <%= submit_tag 'add to cart' %>

<% end %>
